.wrapper {
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .title {
    text-align: center;
    color: rgb(244, 164, 96);
  }
  .title_phonebook {
    text-align: center;
    color: rgb(244, 164, 96);
  }
  .input {
    height: 20px;
    text-align: center;
    outline: rgb(139, 69, 19);
    width: 250px;
    margin: 0 auto;
  }
  .button_wrapper {
    text-align: center;
    margin-top: 14px;
  }
  .button {
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    height: 30px;
    width: 110px;
    background-color: rgb(255, 235, 205);
  }
  .title_item {
    color: rgb(139, 69, 19);
  }
/* -----phonebook animation------------ */
  .appear{
  transform: translateX(-100%);
}
  .appearActive{
  transform: translateX(0);
  transition: transform 500ms linear;
}
 /* -----filter animation------------ */
.error {
  border-radius: 4px;
  width: 50%;
  background-color: red;
  color: white;
  line-height: 20px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  cursor: pointer;
}