.wrapper {
    /* margin: 0 auto; */
    width: 500px;
    background-color: rgb(255, 248, 220);
  }
  .title {
    text-align: center;
    color: rgb(244, 164, 96);
  }
  .item {
    text-align: center;
    color: rgb(139, 69, 19);
    padding-bottom: 20px;
  }
  /* -----phonebook animation------------ */
  .appear{
    transform: translateX(-100%);
  }
  .appearActive{
    transform: translateX(0);
    transition: transform 500ms linear;
  }
  /* -----filter animation------------ */
  .enter{
    opacity: 0;
    transform: scale(0.1);
  }
  .enterActive{
    opacity: 1;
    transform: scale(1);
    transition: transform 250ms linear;
  }
  .exit{opacity: 1;
    transform: scale(1);}
  .exitActive{
    opacity: 0;
    transform: scale(0.1);
    transition: transform 250ms linear;
  }